In [1]:
import pandas as pd

views = pd.read_csv('/home/sevinch/school21 projects/DS_Bootcamp.Day05.ID_886517-1/src/data/feed-views.log', sep='\t', header=0, names=['datetime', 'user'])

print(views.head())

                     datetime     user
0  2020-04-17 12:01:08.463179   artem;
1  2020-04-17 12:01:23.743946   artem;
2  2020-04-17 12:35:52.735016   artem;
3  2020-04-17 12:36:21.401412  oksana;
4  2020-04-17 12:36:22.023355  oksana;

In [2]:

views['datetime'] = pd.to_datetime(views['datetime'], format='%Y-%m-%d %H:%M:%S.%f')

In [3]:
views['year'] = views['datetime'].dt.year
views['month'] = views['datetime'].dt.month
views['day'] = views['datetime'].dt.day
views['hour'] = views['datetime'].dt.hour
views['minute'] = views['datetime'].dt.minute
views['second'] = views['datetime'].dt.second

print(views.head())

                    datetime     user  year  month  day  hour  minute  second
0 2020-04-17 12:01:08.463179   artem;  2020      4   17    12       1       8
1 2020-04-17 12:01:23.743946   artem;  2020      4   17    12       1      23
2 2020-04-17 12:35:52.735016   artem;  2020      4   17    12      35      52
3 2020-04-17 12:36:21.401412  oksana;  2020      4   17    12      36      21
4 2020-04-17 12:36:22.023355  oksana;  2020      4   17    12      36      22

In [4]:
bins = [0, 4, 7, 11, 17, 20, 24]
labels = ['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening']
views['daytime'] = pd.cut(views['hour'], bins=bins, labels=labels, include_lowest=True)

print("DataFrame with daytime column:")
print(views[['datetime', 'hour', 'daytime']].head())

DataFrame with daytime column:
                    datetime  hour    daytime
0 2020-04-17 12:01:08.463179    12  afternoon
1 2020-04-17 12:01:23.743946    12  afternoon
2 2020-04-17 12:35:52.735016    12  afternoon
3 2020-04-17 12:36:21.401412    12  afternoon
4 2020-04-17 12:36:22.023355    12  afternoon

In [5]:
# views.set_index('user', inplace=True)
print(views.head())
print(views.columns)

                    datetime     user  year  month  day  hour  minute  second  \
0 2020-04-17 12:01:08.463179   artem;  2020      4   17    12       1       8
1 2020-04-17 12:01:23.743946   artem;  2020      4   17    12       1      23
2 2020-04-17 12:35:52.735016   artem;  2020      4   17    12      35      52
3 2020-04-17 12:36:21.401412  oksana;  2020      4   17    12      36      21
4 2020-04-17 12:36:22.023355  oksana;  2020      4   17    12      36      22

     daytime
0  afternoon
1  afternoon
2  afternoon
3  afternoon
4  afternoon
Index(['datetime', 'user', 'year', 'month', 'day', 'hour', 'minute', 'second',
       'daytime'],
      dtype='object')

In [6]:
print("Count of non-null values per column:")
print(views.count())

Count of non-null values per column:
datetime    1072
user        1072
year        1072
month       1072
day         1072
hour        1072
minute      1072
second      1072
daytime     1072
dtype: int64

In [7]:
print("\nNumber of entries per daytime category:")
print(views['daytime'].value_counts())

Number of entries per daytime category:
daytime
evening          444
afternoon        277
early evening    144
night            134
morning           73
early morning      0
Name: count, dtype: int64

In [8]:
# sort values in your dataframe by hour, minute, and second in ascending order (simultaneously and not one by one)
print(views.sort_values(by = ['hour', 'minute', 'second'], ascending= True).head())

                      datetime        user  year  month  day  hour  minute  \
942 2020-05-15 00:00:13.222265  valentina;  2020      5   15     0       0
943 2020-05-15 00:01:05.153738  valentina;  2020      5   15     0       1
561 2020-05-12 00:01:27.764025      pavel;  2020      5   12     0       1
562 2020-05-12 00:01:38.444917      pavel;  2020      5   12     0       1
563 2020-05-12 00:01:55.395042      pavel;  2020      5   12     0       1

     second daytime
942      13   night
943       5   night
561      27   night
562      38   night
563      55   night

In [9]:
'''calculate the maximum of hour for the rows where the time of day is night
    calculate the minimum of hour for the rows where the time of day is morning'''

max_hour_at_night = views[views["daytime"] == "night"]["hour"].max()
min_hour_at_morning = views[views["daytime"] == "morning"]["hour"].min()

night_visits_at_max_hour = views[(views["daytime"] == "night") & (views["hour"] == max_hour_at_night)]
user_at_max_hour = night_visits_at_max_hour.head(1).index[0]

print(f'Maximum hour at night = {max_hour_at_night} Minimum hour at the morning = {min_hour_at_morning} Who visited the web-site at this time: {user_at_max_hour}')

Maximum hour at night = 4 Minimum hour at the morning = 8 Who visited the web-site at this time: 311

In [10]:
''' In addition to this, find out who visited the page at those hours (make one example from that)
    calculate the mode for the hour and daytime '''

common_hour = views["hour"].mode()[0]
visitors_at_common_hour = views[views["hour"] == common_hour]

most_common_daytime = views["daytime"].mode()[0]

print(f'Most common daytime = {most_common_daytime}')
print(f'Most common hour = {common_hour}')
print(f'Most common visitor: {visitors_at_common_hour.head(1).index[0]}')

Most common daytime = evening
Most common hour = 22
Most common visitor: 8

In [11]:
''' show the 3 earliest hours in the morning and the corresponding usernames and the 3 latest hours and the usernames using nsmallest() and nlargest()
use the method describe() to get the basic statistics for the columns
'''

earliest_hours = views['hour'].nsmallest(3)
latest_hours = views['hour'].nlargest(3)


print(earliest_hours)
print(latest_hours)
print(views.describe())

9     0
38    0
39    0
Name: hour, dtype: int32
36    23
37    23
57    23
Name: hour, dtype: int32
                            datetime    year        month          day  \
count                           1072  1072.0  1072.000000  1072.000000
mean   2020-05-10 09:30:16.241518592  2020.0     4.872201    13.531716
min       2020-04-17 12:01:08.463179  2020.0     4.000000     1.000000
25%    2020-05-10 01:13:53.448644096  2020.0     5.000000    11.000000
50%    2020-05-11 22:48:35.302552832  2020.0     5.000000    13.000000
75%    2020-05-14 14:30:41.062071296  2020.0     5.000000    14.000000
max       2020-05-21 23:23:49.995349  2020.0     5.000000    30.000000
std                              NaN     0.0     0.334021     4.901354

              hour       minute       second
count  1072.000000  1072.000000  1072.000000
mean     16.256530    29.602612    29.508396
min       0.000000     0.000000     0.000000
25%      13.000000    14.000000    14.000000
50%      19.000000    29.000000    30.000000
75%      22.000000    46.000000    45.000000
max      23.000000    59.000000    59.000000
std       6.960369    17.710471    17.424398

In [12]:
''' to find out what the most popular interval for visiting the page is, calculate the interquartile range for the hour by extracting values from the result of the describe() method and store it in the variable iqr
'''

desc = views['hour'].describe()
q1 = desc['25%']
q3 = desc['75%']
iqr = q3 - q1
print(f'Interquartile Range (IQR) for hour: {iqr}')

Interquartile Range (IQR) for hour: 9.0